@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Azure DevOps self-hosted agent from Azure Container Instance deployment to private Azure App - DEMO <a href="https://rios.engineer">https://rios.engineer</a>.</p>
</div>
